/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f5eb2e90;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 1s ease;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(253, 253, 253, 0.71);
    -webkit-backdrop-filter: blur(3px); /* Soporte para Safari 9+ */
    backdrop-filter: blur(3px); /* Para navegadores modernos */
    position: fixed; /* Fijo para que se mantenga al hacer scroll */
    width: 100%;
    top: 0;
    z-index: 10; /* Asegúrate de que el navbar esté por encima del carrusel */
}

nav .top-row {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 5px 0;
}

nav .logo img {
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

nav .logo img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

nav .nav-links {
    display: flex;
    gap: 30px;
}

nav .nav-links li a {
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
}

nav .nav-links li a:hover {
    border-bottom: 2px solid #000;
}

nav .nav-links li a:hover::after {
    width: 100%;
}

/* Barra de búsqueda centrada */
nav .search-bar {
    display: flex;
    align-items: center;
    /* Cambia 'right' a 'center' */
    justify-content: center;
    /* Asegúrate de centrar los elementos */
    width: 100%;
    /* Ocupa todo el ancho disponible */
}

.search-bar input {
    flex-grow: 1;
    /* Permite que el input crezca y ocupe espacio disponible */
    font-size: 16px;
    border: 1px solid #dddddd00;
    border-radius: 0;
    height: 30px;
    margin-right: 5px;
    /* Añade un margen a la derecha para separar el botón */
}

.search-bar .search-btn {
    background-color: #546e7a;
    border: none;
    cursor: pointer;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    width: 45px;
}

.search-bar .department-btn {
    background-color: #546e7a;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 20px 0 0 20px;
}

/* Hero Section */
.hero-section {
    margin-top: 180px;
    padding-top: 30px;
    text-align: center;
    background-color: #ffffff00;
    color: #ffffff00;
}

.hero-content h1 {
    font-size: 32px;
    color: #000000;
}

.hero-content p {
    font-size: 18px;
    color: #000000;
}

/* Carrusel */
.carousel {
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    /* Asegura que el contenido no se desborde */
    position: relative;
    /* Mantiene el flujo del documento */
    margin-top: 20px;
    z-index: 1;
    /* Coloca el carrusel detrás del navbar */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Transición suave al deslizar */
    /* Agregar un ajuste de alto fijo para asegurarte que no se desplace */
    height: 100%;
    /* Asegúrate de que las slides ocupen todo el alto del contenedor */
    width: 200%;
    margin: 0;
    /* Eliminar márgenes en el contenedor de las slides */
    padding: 0;
}

.slide {
    min-width: 100%;
    height: auto;
    /* Asegura que las imágenes ocupen el alto completo */

}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: conver;
    /* Asegúrate de que la imagen ocupe todo el contenedor */
}

/* Flechas de navegación del carrusel */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f5eb2e90;
    border: none;
    padding: 20px;
    /* Aumentar la altura */
    cursor: pointer;
    z-index: 1;
    /* Asegúrate de que las flechas estén por encima de las imágenes */
    border-radius: 40%;
    /* Esquinas redondeadas para las flechas */
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/* Catálogo */
#catalogo {
    padding: 40px 20px;
    background-color: #ffffff00;
    color: #060a0e;
}

#catalogo h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #000000;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: rgba(253, 253, 253, 0.71);
    padding: 20px;
    border: 3px solid #67747d;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 190px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #666;
}

.product-card span {
    font-size: 16px;
    font-weight: bold;
}

/* Contacto */
#contacto {
    padding: 10px 20px;
    background-color: #455a64;
    color: #ffffff;
}

/* Estilos para el botón "Cargar más productos" */
.load-more-button {
    background-color: #546e7a;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de fuente */
    text-transform: uppercase;
    /* Texto en mayúsculas */
    cursor: pointer;
    /* Cambiar cursor al pasar */
    display: block;
    /* Asegurar que el botón esté en bloque */
    margin: 20px auto;
    /* Centramos el botón */
    border-radius: 5px;
    /* Esquinas redondeadas */
    transition: background-color 0.3s;
    /* Transición suave para el color */
}

.load-more-button:hover {
    background-color: #a5a8bb;
    /* Color al pasar el mouse */
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Ajusta la altura según tus necesidades */
}

.loader {
    border: 8px solid #f3f3f3;
    /* Color del borde */
    border-top: 8px solid #67747d;
    /* Color de la parte superior */
    border-radius: 50%;
    width: 50px;
    /* Ancho del círculo */
    height: 50px;
    /* Alto del círculo */
    animation: spin 1s linear infinite;
    /* Animación de rotación */
}

/* Animación de rotación */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dropdown-content img.dropdown-img {
    width: 20px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    /* Mantiene la proporción */
    margin-right: 8px;
    /* Espacio entre la imagen y el texto */
    vertical-align: middle;
    /* Alinea la imagen verticalmente con el texto */
}
.centered-div {
    text-align: center;
    margin: 20px 0;
}
.centered-section {
    text-align: center;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}